@model IEnumerable<PawentsOneStopShop.Models.ObjectInvite>

@{
    ViewData["Title"] = "DisplayInvites";
    Layout = "~/Views/Shared/_Layout_PetOwner.cshtml";
}

<h1>PlayDate Invites</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.isInvitationAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObjectEventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerSendingName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            @if (item.isInvitationAccepted == null)
            {
                <td>
                    Pending |
                    <a asp-action="AcceptorDeclineInvite" asp-route-Id="@item.Id">Decline/Accept</a>
                </td>
            }
            else if (item.isInvitationAccepted == false)
            {
                <td>
                    Decline |
                    <a asp-action="AcceptorDeclineInvite" asp-route-Id="@item.Id">Decline/Accept</a>
                </td>
            }
            else
            {
                <td>
                    Accept |
                    <a asp-action="AcceptorDeclineInvite" asp-route-Id="@item.Id">Decline/Accept</a>
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.OwnerSendingName)
            </td>
        </tr>
}
    </tbody>
</table>
