@model IEnumerable<PawentsOneStopShop.Models.FeedUpdate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_PetOwner.cshtml";
}

<h1>News Feed</h1>
<iframe src="https://calendar.google.com/calendar/embed?src=si0hlpmr334hjf4chql0mdthm8%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<p>
    <a asp-action="CreatePetProfile" >Add Pet Profile</a> |
    <a asp-action="SearchPetProfiles" >Look for Other Pets</a> |
    <a asp-action="DisplayPetBusinesses" >Look for Pet Businesses</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PubDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetBusiness.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PubDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetBusiness.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
