@model ViewModelPetProfiles
@{
    ViewData["Title"] = "SearchPetProfiles";
    Layout = "~/Views/Shared/_Layout_PetOwner.cshtml";
}

<h1>Pet Profiles</h1>

<body>

    <button onclick='openFilterResourcesMenu()'>Search For Pet Profiles</button>
    <a asp-action="Resources">Reset Filter</a>
    <div id="filter" style="display:none;">
        <form asp-action="FilteredThroughPetProfiles">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PetTypeId" class="control-label"></label>
                <select asp-for="PetTypeId" asp-items='new SelectList(@Model.PetTypes, "Id", "TypeName")' class="form-control"></select>
                <span asp-validation-for="PetTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderSelection" class="control-label"></label>
                <select asp-for="GenderSelection" asp-items='new SelectList(@Model.GenderOptions, "Key", "Value")' class="form-control"></select>
                <span asp-validation-for="GenderSelection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdoptionStatus" class="control-label"></label>
                <select asp-for="AdoptionStatus" asp-items='new SelectList(@Model.Adoption, "Key", "Value")' class="form-control"></select>
                <span asp-validation-for="AdoptionStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    Pet Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PetType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsMale)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAdopted)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pet in Model.PetProfiles)
            {
            <tr>
                <td>
                <img src="~/images/@pet.ProfilePicture"
                     class="rounded-circle"
                     height="80" width="40"
                     asp-append-version="true" />
                @pet.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pet.Name)
                </td>
                @if (pet.PetType != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => pet.PetType)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => pet.IsMale)
                </td>
                @if (pet.IsAdopted != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => pet.IsAdopted)
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
</body>


