@model PawentsOneStopShop.Models.ViewModelPetProfile
@{
    ViewData["Title"] = "SearchPetProfiles";
    Layout = "~/Views/Shared/_Layout_PetOwner.cshtml";
}

<h1>Pet Profiles</h1>

<body>

    <button onclick='openFilterResourcesMenu()'>Search For Pet Profiles</button>
    <a asp-action="Resources">Reset Filter</a>
    <div id="filter" style="display:none;">
        <form asp-action="FilteredThroughPetProfiles">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PetTypeId" class="control-label"></label>
                <select asp-for="PetTypeId" asp-items='new SelectList(@Model.PetTypes, "Id", "TypeName")' class="form-control"></select>
                <span asp-validation-for="PetTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderSelection" class="control-label"></label>
                <select asp-for="GenderSelection" asp-items='new SelectList(@Model.GenderOptions, "Key", "Value")' class="form-control"></select>
                <span asp-validation-for="GenderSelection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdoptionStatus" class="control-label"></label>
                <select asp-for="AdoptionStatus" asp-items='new SelectList(@Model.Adoption, "Key", "Value")' class="form-control"></select>
                <span asp-validation-for="AdoptionStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    Pet Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PetType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsMale)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAdopted)
                </th>
            </tr>
        </thead>
        <tbody>
         @foreach (var pet in Model.PetProfiles)
          {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => pet.Name)
                </td>
                @if (pet.PetType != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => pet.PetType)
                    </td>
                }
                @if (pet.IsMale != null)
                {
                    switch (pet.IsMale)
                    {
                        case false:
                            <td>
                                Female
                            </td>
                            break;
                        case true:
                            <td>
                                Male
                            </td>
                            break;
                        default:
                            <td>
                                Not Applicable
                            </td>
                            break;
                    }
                }
                @if (pet.IsAdopted != null)
                {
                    switch (pet.IsAdopted)
                    {
                        case false:
                            <td>
                                Avaliable
                            </td>
                            break;
                        case true:
                            <td>
                                Adopted
                            </td>
                            break;
                        default:
                            <td>
                                Not Applicable
                            </td>
                            break;
                    }
                }
                <td>
                    <img src="~/images/@pet.ProfilePicture"
                         height="80" width="60"
                         asp-append-version="true" />
                </td>
                <td>
                    <a asp-action="EditPetProfile" asp-route-id="@pet.Id">Edit</a> |
                    <a asp-action="DisplayPetProfileDetails" asp-route-id="@pet.Id">Details</a> |
                    <a asp-action="DeletePetProfile" asp-route-id="@pet.Id">Delete</a>
                </td>
            </tr>


          }
        </tbody>
    </table>
</body>


