@model ViewModelPetProfile
@{
    ViewData["Title"] = "SearchPetProfiles";
    Layout = "~/Views/Shared/_Layout_PetOwner.cshtml";
}

<h1>Pet Profiles</h1>

<body>
    @*<div class="col-md-10 mx-auto py-4">
        <div class="card">
            <div class="card-header bg-primary text-uppercase text-white">
                <h4>Filter Pet Profile</h4> 
            </div>
            <div class="card-body">
                <form asp-action="FilteredThroughPetProfiles">
                    <div class="row">
                        <<div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Age" class="control-label"></label>
                                <input asp-for="Age" class="form-control" />
                                <span asp-validation-for="Age" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PetTypeId" class="control-label"></label>
                                <select asp-for="PetTypeId" asp-items='new SelectList(@Model.PetTypes, "Id", "TypeName")' class="form-control"></select>
                                <span asp-validation-for="PetTypeId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="GenderSelection" class="control-label"></label>
                                <select asp-for="GenderSelection" asp-items='new SelectList(@Model.GenderOptions, "Key", "Value")' class="form-control"></select>
                                <span asp-validation-for="GenderSelection" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="AdoptionStatus" class="control-label"></label>
                                <select asp-for="AdoptionStatus" asp-items='new SelectList(@Model.Adoption, "Key", "Value")' class="form-control"></select>
                                <span asp-validation-for="AdoptionStatus" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                        <a asp-action="SearchPetProfiles" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i>Reset Filter</a>
                    </div>
                </form>
            </div>
        </div>
    </div>*@
    <form asp-action="FilteredThroughPetProfiles">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="PetTypeId" class="control-label"></label>
                    <select asp-for="PetTypeId" asp-items='new SelectList(@Model.PetTypes, "Id", "TypeName")' class="form-control"></select>
                    <span asp-validation-for="PetTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="GenderSelection" class="control-label"></label>
                    <select asp-for="GenderSelection" asp-items='new SelectList(@Model.GenderOptions, "Key", "Value")' class="form-control"></select>
                    <span asp-validation-for="GenderSelection" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="AdoptionStatus" class="control-label"></label>
                    <select asp-for="AdoptionStatus" asp-items='new SelectList(@Model.Adoption, "Key", "Value")' class="form-control"></select>
                    <span asp-validation-for="AdoptionStatus" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                    <a asp-action="SearchPetProfiles" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i>Reset Filter</a>
                </div>
            </div>
        </div>
    </form>

    
    <table class="table">
        <thead>
            <tr>
                <th>
                    Pet Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PetType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsMale)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAdopted)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pet in Model.PetProfiles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => pet.Name)
                    </td>
                    @if (pet.PetType != null)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => pet.PetType.TypeName)
                        </td>
                    }
                    @if (pet.IsMale != null)
                    {
                        switch (pet.IsMale)
                        {
                            case false:
                                <td>
                                    Female
                                </td>
                                break;
                            case true:
                                <td>
                                    Male
                                </td>
                                break;
                            default:
                                <td>
                                    Not Applicable
                                </td>
                                break;
                        }
                    }
                    @if (pet.IsAdopted != null)
                    {
                        switch (pet.IsAdopted)
                        {
                            case false:
                                <td>
                                    Avaliable
                                </td>
                                break;
                            case true:
                                <td>
                                    Adopted
                                </td>
                                break;
                            default:
                                <td>
                                    Not Applicable
                                </td>
                                break;
                        }
                    }
                    <td>
                        <img src="~/images/@pet.ProfilePicture"
                             height="80" width="60"
                             asp-append-version="true" />
                    </td>
                    <td>
                        <a asp-action="DisplayNotMyPetProfileDetails" asp-route-id="@pet.Id">Details</a> |
                    </td>
                </tr>


            }
        </tbody>
    </table>
</body>


