@model IEnumerable<petOwnerOneStopShop.Models.ServiceOffered>

@{
    ViewData["Title"] = "DisplayServices";
    Layout = "~/Views/Shared/_Layout_PetBusiness.cshtml";
}

<h1>Display Services</h1>

<p>
    <a asp-action="CreateServiceOffered">Create New Service</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.ServiceName)
            </td>
            <td>
                <a asp-action="DisplayServiceOfferedDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="EditServiceOffered" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DeleteServiceOffered" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
