@model IEnumerable<petOwnerOneStopShop.Models.FeedUpdate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_PetBusiness.cshtml";
}

<h1>News Feed</h1>

<p>
    <a asp-action="CreateUpdate">Post New Update</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PubDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsFeed.PetBusiness.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PubDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsFeed.PetBusiness.Name)
            </td>
        </tr>
}
    </tbody>
</table>
